/* 
 * this filename starts with 1 because files are concatenated in alphabetical 
 * order, which is a side-effect of the very hacky way we’re loading CSS 
 * modules, which is a side-effect of trying to keep things simple. 
 * so... yay, we did it?
 */
@font-face {
  font-family: 'jwf';
  src: url('/fonts/jwf-book.woff2') format('woff2'),
    url('/fonts/jwf-book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'jwf';
  src: url('/fonts/jwf-bookitalic.woff2') format('woff2'),
    url('/fonts/jwf-bookitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'jwf';
  src: url('/fonts/jwf-bold.woff2') format('woff2'),
    url('/fonts/jwf-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'jwf';
  src: url('/fonts/jwf-bolditalic.woff2') format('woff2'),
    url('/fonts/jwf-bolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'jwf';
  src: url('/fonts/jwf-ultra.woff2') format('woff2'),
    url('/fonts/jwf-ultra.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'jwf';
  src: url('/fonts/jwf-ultraitalic.woff2') format('woff2'),
    url('/fonts/jwf-ultraitalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --white: white;
  --text: #403c4a;
  --text-emphasized: #201d29;
  --text-muted: #78757f;
  --text-pink: #c10b7e;
  --yellow: #ffe742;
  --yellow-dark: #ddc62c;
  --pink: #ff87d4;
  --pink-faded: #f5f2fc;
  --pink-dark: #c10b7e;
  --blue: #87fffb;
  --blue-dark: #63ddd9;
  --black: #171321;
  --gray-light: #d4d0e0;
  --gray-medium: #b1acb9;
  --font-family: jwf, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --background: var(--white);
  --foreground: var(--black);
  --footnote-hover: var(--pink-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --blue-dark: #0d314a;
    --pink-dark: #6d114c;
    --pink-faded: #440e30;
    --text: var(--gray-medium);
    --text-pink: #ff69c8;
    --text-emphasized: #d4d0da;
    --text-muted: #aba7b5;
    --background: var(--black);
    --foreground: var(--white);
    --footnote-hover: var(--yellow);
  }
}

.dark {
  --blue-dark: #0d314a;
  --pink-dark: #6d114c;
  --pink-faded: #440e30;
  --text: var(--gray-medium);
  --text-pink: #ff69c8;
  --text-emphasized: #d4d0da;
  --text-muted: #aba7b5;
  --background: var(--black);
  --foreground: var(--white);
  --footnote-hover: var(--yellow);
}

.light {
  --blue-dark: #63ddd9;
  --pink-dark: #c10b7e;
  --pink-faded: #f5f2fc;
  --text: #403c4a;
  --text-pink: #c10b7e;
  --text-emphasized: #201d29;
  --text-muted: #78757f;
  --background: var(--white);
  --foreground: var(--black);
  --footnote-hover: var(--pink-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.45;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.outer {
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--foreground);
  font-weight: 900;
  line-height: 1.1;
  transition: 200ms color linear;
}

a {
  color: var(--text-pink);
  font-weight: 400;
}

strong,
b {
  font-weight: 600;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

/*
 * ---------------------------------------------------------
 * SITE HEADER STYLES
 * ---------------------------------------------------------
 */
.site-header {
  background: var(--black);
  display: flex;
  gap: 1.5rem;
  padding: 1rem 2rem;
  position: relative;
  top: 0;
  z-index: 1000;
}

.site-header::after {
  background-image: linear-gradient(
    to right,
    var(--pink) 0%,
    var(--yellow) 50%,
    var(--blue) 100%
  );
  content: '';
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.home {
  color: var(--white);
  font-weight: 400;
  position: sticky;
  text-decoration: none;
}

.site-nav a {
  color: var(--white);
  text-decoration: none;
}

/*
 * ---------------------------------------------------------
 * MAIN NAV STYLES
 * ---------------------------------------------------------
 */
.nav-toggle {
  cursor: pointer;
  height: 110px;
  position: absolute;
  right: 40px;
  top: -25px;
  transition: 200ms top ease-out;
  width: 135px;
}

.nav-toggle:hover,
.nav-toggle:active,
.nav-toggle:focus {
  top: 0;
}

.nav-face {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 110px;
}

.nav-toggle::before {
  background-image: url('https://res.cloudinary.com/jlengstorf/image/upload/q_auto,f_auto/v1593477791/jason.af/click-my-head.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 43px;
  opacity: 0;
  position: absolute;
  right: 85px;
  top: 90px;
  transition: 200ms opacity linear;
  width: 112px;
}

.nav-toggle.nav-first-run::before {
  opacity: 1;
}

.nav-toggle::after {
  content: '';
  background-image: url('https://res.cloudinary.com/jlengstorf/image/upload/q_auto,f_auto/jason.af/dome-top.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 110px;
  right: 2px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: 300ms all cubic-bezier(0.5, 0.2, 0.25, 1.1);
  transition-delay: 100ms;
  width: 110px;
  z-index: 100;
}

.nav-is-active.nav-toggle {
  top: 0;
}

.nav-is-active.nav-toggle::after {
  top: calc(var(--navCount) * 78px);
  transform: rotate(calc(var(--navCount) * -0.006turn))
    translateX(calc(var(--navCount) * 4px));
  transition-delay: 0ms;
}

.nav-button {
  background: transparent;
  border: 2px solid transparent;
  border-top: 0;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-button:active,
.nav-button:focus,
.nav-button:hover {
  background: var(--yellow);
  border-color: var(--pink);
  border-radius: 0 0 50% 50%;
  outline: 0;
}

.main-nav {
  right: 30px;
  position: absolute;
  top: 110px;
  visibility: hidden;
  width: 220px;
  z-index: 1;
}

.nav-item {
  align-items: center;
  background: transparent;
  border-radius: 14px;
  color: var(--foreground);
  display: grid;
  font-weight: 400;
  gap: 1rem;
  grid-template-columns: 1fr 75px;
  height: 0;
  justify-content: end;
  margin-top: -5px;
  opacity: 0;
  text-align: right;
  text-decoration: none;
  text-transform: lowercase;
  top: -75px;
  transform: translate3d(0, 0, 0) rotate(0) scale(0);
  transform-origin: right center;
  transition: 200ms all cubic-bezier(0.25, 0.2, 0.25, 1.1);
}

.nav-item img {
  width: 100%;
}

.nav-is-active .main-nav {
  visibility: visible;
}

.nav-is-active .nav-item {
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid transparent;
  display: grid;
  height: 75px;
  opacity: 1;
  top: 0;
  transform: translateX(calc(var(--offset) * 4px))
    rotate(calc(-0.01turn * var(--offset) + 0.02turn)) scale(1);
  transition-delay: calc(var(--offset) * 50ms + 100ms);
}

.nav-is-active .nav-item:active,
.nav-is-active .nav-item:focus,
.nav-is-active .nav-item:hover {
  background: var(--yellow);
  border-color: var(--pink);
  outline: 0;
  transition: 200ms background linear;
  transition-delay: 0ms;
}

.dark .nav-is-active .nav-item {
  background: rgba(23, 19, 33, 0.9);
}

.dark .nav-is-active .nav-item:active,
.dark .nav-is-active .nav-item:focus,
.dark .nav-is-active .nav-item:hover {
  background: var(--pink);
  border-color: var(--yellow);
  color: var(--black);
}

/*
 * ---------------------------------------------------------
 * SETTINGS STYLES
 * ---------------------------------------------------------
 */
.site-settings {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 50px;
  z-index: 900;
}

.site-settings-button {
  background: var(--black);
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  margin-top: 0.5rem;
  padding: 5px;
  transition: 200ms all linear;
  width: 49px;
}

.site-settings-toggle {
  margin-top: 0;
  position: relative;
  z-index: 100;
}

.site-settings-button:focus,
.site-settings-button:hover {
  background: var(--pink);
  border-color: var(--text-pink);
}

.site-settings-gear,
.site-settings-sound {
  display: block;
  height: 35px;
  width: 35px;
}

.site-settings-panel {
  background: var(--background);
  background-blend-mode: multiply;
  border-radius: calc(25px + 0.25rem) calc(25px + 0.25rem);
  display: none;
  padding: calc(50px + 1rem) 0.25rem 0.25rem;
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  width: calc(50px + 0.5rem);
}

.site-settings-panel.site-settings-panel-open {
  display: block;
}

/*
 * ---------------------------------------------------------
 * HERO STYLES
 * ---------------------------------------------------------
 */
.hero {
  height: 390px;
  margin: 0 auto;
  max-height: 54vw;
  max-width: 700px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 90vw;
  z-index: 1;
}

.hero.maximum-boops {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boops {
  mix-blend-mode: overlay;
  z-index: 10;
}

.hero-first-line {
  display: block;
  font-size: 25.4vw;
  line-height: 0.95;
}

.hero-first-line.maximum-boops {
  font-size: clamp(20px, 15.5vw, 120px);
}

.hero-box {
  background: var(--black);
  color: var(--yellow);
  display: block;
  font-size: 13.2vw;
  line-height: 1;
  padding: 0 0.5rem;
  transition: 200ms background linear;
}

.hero-box.maximum-boops {
  font-size: clamp(40px, 21.5vw, 170px);
}

.hero-tagline {
  display: block;
  font-size: var(--size, 7.42vw);
  margin-top: 0.125rem;
}

.love {
  background: url('https://res.cloudinary.com/jlengstorf/image/upload/q_auto,f_auto/v1593755650/jason.af/love.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  display: inline-block;
  height: 1.2em;
  margin: -0.1em -3px;
  position: relative;
  top: var(--top, -0.05em);
  transform: scale(var(--scale, 1.1)) rotate(var(--rotation, -11deg))
    translateY(0.1em);
  transform-origin: center;
  width: 1.6em;
}

.hero-cycle {
  background: transparent;
  border: none;
  color: var(--text-muted);
  display: block;
  font-size: 0.75rem;
  font-variant: small-caps;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 30px;
  z-index: 20;
}

.hero-cycle.cycle-is-active {
  animation-duration: 500ms;
  animation-name: spin-hero-cycle;
  animation-iteration-count: 1;
}

.hero-cycle img {
  width: 100%;
}

@keyframes spin-hero-cycle {
  from {
    transform: rotate(-1turn);
  }

  to {
    transform: rotate(0);
  }
}

@media (min-width: 775px) {
  .hero-first-line {
    font-size: 197px;
  }

  .hero-box {
    font-size: 102.5px;
  }

  .hero-tagline {
    font-size: var(--size-lg, 57.5px);
  }
}

.dark .hero {
  color: var(--yellow);
}

.dark .hero-box {
  background: var(--yellow);
  color: var(--black);
}

/*
 * ---------------------------------------------------------
 * BIO STYLES
 * ---------------------------------------------------------
 */
.bio-heading {
  font-size: 1.25rem;
  margin: 0;
  text-align: center;
}

.bio-container {
  margin: 0 auto;
  max-width: 1100px;
  width: 90vw;
}

.bio {
  font-size: 1.25rem;
}

.bio-image-container {
  margin: 0 0 4rem;
  padding: 0;
}

@media (min-width: 900px) {
  .bio-heading {
    font-size: 1.75rem;
  }

  .bio-container {
    display: grid;
    gap: 6rem;
    grid-template-columns: 1fr 400px;
  }

  .bio-image-container {
    margin-bottom: 0;
  }
}

.bio-length-control {
  margin: 1rem auto 3rem;
  max-width: 90vw;
  width: 300px;
}

.bio-fieldset {
  border: none;
  padding: 0;
}

.bio-legend {
  color: var(--text-muted);
  font-size: 0.75rem;
  font-variant: small-caps;
  font-weight: 400;
  letter-spacing: 0.15em;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

.bio-length-options {
  align-items: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(6, 1fr);
}

.bio-option {
  cursor: pointer;
  height: calc((300px - 10rem) / 6 + 1rem);
  position: relative;
}

.bio-input {
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bio-label-text {
  clip: rect(1px, 1px, 1px, 1px);
  color: var(--text-muted);
  font-weight: 400;
  height: 1px;
  letter-spacing: 0.2em;
  overflow: hidden;
  position: absolute;
  top: 80%;
  white-space: nowrap;
  width: 1px;
}

.bio-option:first-of-type .bio-label-text,
.bio-option:last-of-type .bio-label-text {
  clip: auto;
  height: auto;
  overflow: visible;
  width: 60px;
}

.bio-option:first-of-type .bio-label-text {
  left: 0;
  text-align: left;
}

.bio-option:last-of-type .bio-label-text {
  right: 0;
  text-align: right;
}

.bio-label {
  cursor: pointer;
  font-size: 0.75rem;
}

.bio-label::before,
.bio-label::after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  padding-bottom: calc(1rem - 2px);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
}

.bio-label::before {
  border: 1px solid var(--pink);
  transition: 200ms background linear;
  z-index: 10;
}

.bio-label::after {
  background: var(--pink);
  opacity: 0;
  transition: 200ms opacity linear;
}

:checked + .bio-label::before,
:hover + .bio-label::before,
:focus + .bio-label::before {
  border-color: var(--text-pink);
}

:focus + .bio-label::before {
  outline: 2px solid var(--pink);
  outline-offset: 0.125rem;
}

:checked + .bio-label::after {
  opacity: 1;
}

.bio-social {
  margin-top: 3rem;
}

.bio-connect {
  color: var(--text-muted);
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.bio-profiles {
  align-content: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 60px);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.bio-link {
  background: var(--text-pink);
  border-radius: 50%;
  display: block;
  height: 60px;
  padding: 1.125rem;
  transition: all 200ms linear;
  transition-delay: 150ms;
}

.bio-link:focus,
.bio-link:hover {
  background: var(--text-pink);
  outline: none;
  transition-delay: 0ms;
}

.bio-link path {
  fill: var(--white);
  transition: 200ms fill linear;
  transition-delay: 150ms;
}

.bio-link:focus path,
.bio-link:hover path {
  fill: var(--blue);
  transition-delay: 0ms;
}

/*
 * ---------------------------------------------------------
 * CONNECT STYLES
 * ---------------------------------------------------------
 */
.connect-platforms {
  margin: 0 auto 3rem;
  max-width: 1400px;
  width: 90vw;
}

@media (min-width: 800px) {
  .connect-platforms {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*
 * ---------------------------------------------------------
 * PHOTO GALLERY STYLES
 * ---------------------------------------------------------
 */
.gallery-image {
  margin: 3rem auto;
  max-width: 90vw;
  padding: 0;
  width: 400px;
}

.gallery-image > div {
  height: 0 !important;
  max-width: 100% !important;
  max-width: 100% !important;
  padding-bottom: 100% !important;
}

.gallery-image img {
  width: 100%;
}

.gallery-image figcaption {
  color: var(--text-muted);
  margin: 1rem 0 0;
}

.gallery-links {
  display: flex;
  font-size: 0.625rem;
  font-weight: 400;
  justify-content: space-between;
  letter-spacing: 0.15em;
  margin-top: 0.5rem;
  text-transform: uppercase;
}

.gallery-credit {
  display: block;
}

.gallyer-fullsize-link,
.gallery-credit a {
  text-decoration: none;
}

.gallery-options {
  margin-bottom: 4rem;
}

.gallery-heading {
  color: var(--text-muted);
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.gallery-thumbnails {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 50px);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery-thumb-link {
  background: none;
  border: none;
  display: block;
  height: 50px;
}

.gallery-thumb-link:focus,
.gallery-thumb-link:hover {
  outline: 2px solid var(--text-pink);
  outline-offset: 0.25rem;
}

.gallery-thumb {
  opacity: 1;
  transition: 200ms opacity linear;
}

.gallery-thumb.active {
  opacity: 0.5;
}

@media (min-width: 900px) {
  .gallery-image {
    margin-top: 0;
  }

  .gallery-options {
    margin-bottom: 0;
  }
}

/*
 * ---------------------------------------------------------
 * TEACHING STYLES
 * ---------------------------------------------------------
 */
.teaching-container {
  margin: 0 auto 3rem;
  max-width: 1400px;
  width: 90vw;
}

@media (min-width: 800px) {
  .teaching-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*
 * ---------------------------------------------------------
 * WRITING STYLES
 * ---------------------------------------------------------
 */
.writing {
  margin: 0 auto;
  max-width: 1150px;
}

.writing-button {
  background: var(--pink);
  border: 2px solid transparent;
  border-radius: 7px;
  color: var(--black);
  display: block;
  font-family: var(--font-family);
  font-size: 1.25rem;
  font-weight: 900;
  padding: 0.25rem 1rem;
  margin: 3rem auto 0;
  max-width: 220px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 200ms background linear;
}

.writing-button:focus,
.writing-button:hover {
  background: var(--text-pink);
  border-color: var(--foreground);
  outline: none;
}

/*
 * ---------------------------------------------------------
 * POST PREVIEWS STYLES
 * ---------------------------------------------------------
 */
.post-preview {
  margin: 3rem auto 0;
  max-width: 250px;
  position: relative;
}

.post-preview-site {
  color: var(--text-muted);
  font-size: 0.75rem;
  font-variant: small-caps;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0 0 1rem;
  text-transform: lowercase;
}

.post-preview-site img {
  margin-right: 0.5rem;
  width: 16px;
  vertical-align: middle;
}

.post-preview-image {
  width: 100%;
}

.post-preview-title {
  margin: 0.5rem 0;
}

.post-preview-title-link {
  color: var(--foreground);
  text-decoration: none;
}

.post-preview-title-link:focus {
  outline: none;
}

.post-preview-title-link::after {
  background: transparent;
  bottom: 0;
  content: '';
  cursor: pointer;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.post-preview-title-link:focus::after,
.post-preview-title-link:hover::after {
  outline: 2px solid var(--text-pink);
  outline-offset: 0.5rem;
}

.post-preview-description {
  margin: 0.5rem 0 0;
  position: relative;
  z-index: 20;
}

.post-preview-link {
  color: var(--text-pink);
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0.5rem 0 0;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 500px) {
  .post-previews {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    margin: 0 auto;
    max-width: 1150px;
    row-gap: 4rem;
  }

  .post-preview {
    margin: 0;
  }
}

@media (min-width: 500px) {
  .post-previews {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, 250px);
    row-gap: 4rem;
    justify-content: center;
  }

  .post-preview {
    margin: 0;
  }
}

/*
 * ---------------------------------------------------------
 * INTRO STYLES
 * ---------------------------------------------------------
 */
.intro {
  margin: 0 auto 3rem;
  max-width: 90vw;
  width: 900px;
}

.intro:only-child {
  margin-bottom: 0;
}

.intro-headline {
  font-size: 11vw;
  margin: 0;
  text-align: center;
}

.intro-lede {
  font-size: 1.25rem;
  margin: 1rem 0 0;
  text-align: center;
}

.intro-lede p {
  margin: 1rem 0 0;
}

@media (min-width: 600px) {
  .intro-headline {
    font-size: 7vw;
  }
}

@media (min-width: 950px) {
  .intro-headline {
    font-size: 4.125rem;
  }
}

/*
 * ---------------------------------------------------------
 * PLATFORM STYLES
 * ---------------------------------------------------------
 */
.platform {
  margin-top: 2rem;
}

.platform-logo {
  display: block;
  margin: 0 auto;
  max-width: 220px;
}

.platform-card {
  background: var(--background);
  border: 1px solid var(--blue-dark);
  border-radius: 14px;
  margin-top: -8rem;
  padding: 8rem 2rem 2rem;
}

.platform-name {
  color: var(--foreground);
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

.platform-name a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.platform-description {
  color: var(--text-muted);
  margin: 2rem 0;
}

.platform-link {
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .platform {
    margin-top: 0;
  }

  .platform-card {
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .platform-card {
    padding-bottom: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

/*
 * ---------------------------------------------------------
 * 404 STYLES
 * ---------------------------------------------------------
 */
.not-found-container {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  width: 90vw;
}

/*
 * ---------------------------------------------------------
 * BLOCK STYLES
 * ---------------------------------------------------------
 */
.block {
  background: var(--background);
  border-bottom: 1px solid var(--gray-light);
  padding: 5rem 5vw;
  transition: 200ms background linear;
  position: relative;
}

.block.pink {
  background: var(--pink);
  border-color: var(--text-pink);
}

.block.blue {
  background: var(--blue);
  border-color: var(--blue-dark);
}

.block.yellow {
  background: var(--yellow);
  border-color: var(--yellow-dark);
}

.dark .block.yellow {
  background: var(--background);
  border-color: var(--yellow);
}

.dark .block.blue {
  background: var(--blue-dark);
  border-color: var(--blue);
}

.dark .block.pink {
  background: var(--pink-dark);
  border-color: var(--pink);
}

/*
 * ---------------------------------------------------------
 * NEWSLETTER OPT-IN STYLES
 * ---------------------------------------------------------
 */
.newsletter-opt-in {
  margin: 0 auto;
  max-width: 900px;
  width: 90vw;
}

.form-wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.form-image-wrapper {
  margin: 0 auto;
  max-width: 140px;
  width: 100%;
}

.opt-in-form {
  margin: 2rem auto 0;
  max-width: 460px;
}

@media (min-width: 700px) {
  .form-wrapper {
    align-items: top;
    display: grid;
    gap: 3rem;
    grid-template-columns: 140px 1fr;
  }

  .form-image-wrapper {
    margin-top: 2rem;
  }

  .opt-in-form {
    margin-top: 0;
  }
}

.opt-in-label,
.opt-in-input {
  display: block;
}

.opt-in-label {
  color: var(--text);
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.opt-in-input {
  border: 1px solid var(--text-muted);
  border-radius: 7px;
  font-family: var(--font-family);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.opt-in-input:focus {
  background: var(--blue);
  border-color: var(--foreground);
  outline: none;
}

.opt-in-button {
  background: var(--pink);
  border: 2px solid transparent;
  border-radius: 7px;
  color: var(--black);
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  transition: 200ms background linear;
  padding: 0.5rem 1.5rem;
}

.opt-in-button:focus,
.opt-in-button:hover {
  background: var(--text-pink);
  border-color: var(--foreground);
  outline: none;
}

/*
 * ---------------------------------------------------------
 * FOOTER STYLES
 * ---------------------------------------------------------
 */
.footer {
  background: var(--background);
  color: var(--text-muted);
  display: flex;
  font-size: 0.875rem;
  justify-content: space-between;
  padding: 2rem;
  text-align: center;
}

.footer-nav {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.footer-nav a {
  color: inherit;
  text-decoration: none;
}

.footer-nav a:focus,
.footer-nav a:hover {
  text-decoration: underline;
}

/*
 * ---------------------------------------------------------
 * BLOG POST STYLES
 * ---------------------------------------------------------
 */
.post-header {
  align-items: flex-start;
  background: var(--black);
  border-bottom: 2px solid var(--pink-dark);
  display: flex;
  flex-direction: column;
  height: min-content;
  justify-content: center;
  margin: 0;
  min-height: max(400px, 60vh);
  padding: 2rem 20vw 1rem 5vw;
  position: relative;
}

.post-header h1 {
  color: var(--white);
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  margin: 0;
  position: relative;
  z-index: 10;
}

.post-header img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.post-header p {
  color: var(--gray-medium);
  font-size: clamp(1rem, 2vw, 1.375rem);
  margin: 1rem 0 0;
  position: relative;
  z-index: 10;
}

.post-header::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 90vw;
  background: var(--black);
  display: block;
  z-index: 5;
  mix-blend-mode: multiply;
  transform: skew(-2deg, 0deg);
  transform-origin: top left;
}

@media (min-width: 900px) {
  .post-header {
    padding-right: 50vw;
  }

  .post-header::after {
    transform: skew(-15deg, 0deg);
    width: 65vw;
  }
}

.post-block {
  padding-top: 2rem;
}

.table-of-contents {
  display: none;
}

.toc-sticky-container {
  position: sticky;
  top: 3rem;
}

.table-of-contents h2 {
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  text-align: left;
  text-transform: uppercase;
}

.table-of-contents ol {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0;
  font-size: 0.75rem;
}

.table-of-contents li {
  margin: 0;
}

.table-of-contents a {
  border-left: 2px solid transparent;
  color: var(--text-muted);
  display: block;
  line-height: 1rem;
  margin: 0 -0.25rem;
  padding: 0.5rem 0.25rem;
  text-decoration: none;
}

.toc-active {
  background: var(--pink-faded);
  border-color: var(--pink-dark);
}

@media (min-width: 1000px) {
  .post-block {
    display: grid;
    gap: 4rem;
    grid-template-columns: 12rem 65ch;
    justify-content: center;
  }

  .table-of-contents {
    display: block;
  }
}

.post-wrapper {
  font-size: clamp(16px, 3vw, 20px);
  margin: 0 auto;
  max-width: 100%;
  width: 90vw;
}

.post-wrapper h2,
.post-wrapper h3,
.post-wrapper h4,
.post-wrapper h5,
.post-wrapper h6 {
  clear: both;
  color: var(--foreground);
}

.post-wrapper h3,
.post-wrapper h4,
.post-wrapper h5,
.post-wrapper h6 {
  font-weight: 600;
}

.post-wrapper p {
  position: relative;
}

.post-wrapper > :first-child {
  margin-top: 0;
}

.post-wrapper blockquote {
  border-left: 4px solid var(--pink-dark);
  color: var(--text-emphasized);
  font-style: italic;
  margin: 0 1rem;
  padding: 0 0 0 1.5rem;
  position: relative;
}

.post-wrapper blockquote::before {
  background: var(--background);
  border-radius: 50%;
  color: var(--pink-dark);
  content: '“';
  display: block;
  font-size: 3rem;
  font-weight: 900;
  left: -2rem;
  line-height: 1;
  padding: 0 0.75rem;
  position: absolute;
  top: -0.25rem;
  z-index: 10;
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

.has-footnote {
  padding-right: 2rem;
  position: relative;
}

.post-wrapper strong {
  color: var(--text-emphasized);
}

.post-wrapper a strong {
  color: inherit;
}

.post-wrapper a {
  font-style: inherit;
  font-weight: inherit;
}

.post-wrapper sup[id^='fnref'] {
  position: absolute;
  top: 0.5rem;
  right: -2vw;
}

.post-wrapper sup[id^='fnref'] a {
  background: var(--foreground);
  border-radius: 50%;
  color: var(--background);
  display: block;
  font-size: 0.875rem;
  font-variant: tabular-nums;
  font-weight: 900;
  height: 1.5em;
  line-height: 1;
  padding: 3px 0.25em;
  text-align: center;
  text-decoration: none;
  transition: 200ms background linear;
  width: 1.5em;
}

.post-wrapper sup[id^='fnref']:nth-of-type(2) {
  margin-top: 2rem;
}

.post-wrapper sup[id^='fnref']:nth-of-type(3) {
  margin-top: 4rem;
}

.post-wrapper sup[id^='fnref'] a:focus,
.post-wrapper sup[id^='fnref'] a:target,
.post-wrapper sup[id^='fnref'] a:hover {
  background: var(--footnote-hover);
}

.post-wrapper .footnotes {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

.post-wrapper .footnotes::after {
  background-color: var(--background);
  border-top: 2px solid var(--pink-dark);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.95;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.post-wrapper .footnotes hr {
  display: none;
}

.post-wrapper .footnotes ol {
  display: block;
  margin: 0 auto;
  max-height: 50vh;
  max-width: min(90vw, 54ch);
  overflow-y: scroll;
  padding: 0;
  position: relative;
  width: 90vw;
  z-index: 10;
}

.post-wrapper .footnotes li {
  font-size: 1rem;
  height: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: height 1s linear;
  width: 100%;
}

.post-wrapper .footnotes p {
  position: static;
}

.post-wrapper .footnotes li:target {
  height: min-content;
  padding: 2.5rem 0 2rem;
  position: relative;
}

.footnote-backref {
  font-size: 0.875rem;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0.5rem;
}

.footnote-image {
  float: right;
  margin: 1rem 0 0 2rem;
  max-width: 30%;
}

.footnote-image p {
  margin: 0;
}

/*
 * ---------------------------------------------------------
 * MDX COMPONENT STYLES
 * ---------------------------------------------------------
 */
.post-aside {
  border-bottom: 2px solid var(--pink-dark);
  border-top: 2px solid var(--pink-dark);
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 40px 1fr;
  margin: 2rem 0;
  padding: 2rem;
}

.post-aside-icon img {
  width: 100%;
}

.post-aside-content {
  font-size: 0.875em;
}

.post-aside-content > :first-child {
  margin-top: 0;
}

.post-aside-content > :last-child {
  margin-bottom: 0;
}

.post-figure {
  display: block;
  margin: 0;
  width: 100%;
}

.post-figure p {
  margin: 0;
}

.post-figure iframe,
.post-figure img {
  border: 1px solid var(--blue-dark);
  display: block;
  height: auto;
  width: 100%;
}

.post-figure iframe {
  height: calc(min(90vw, 54ch + 10vw) * 9 / 16);
}

.post-figure-align-left,
.post-figure-align-right {
  max-width: 300px;
  margin: 1rem auto;
}

@media (min-width: 600px) {
  .post-figure {
    margin: 2rem max(-2rem, -5vw);
    width: calc(100% + min(4rem, 10vw));
  }

  .post-figure-align-left,
  .post-figure-align-right {
    margin-top: 0;
  }

  .post-figure-align-right {
    float: right;
    margin-left: 2rem;
    margin-right: -5vw;
  }

  .post-figure-align-left {
    float: left;
    margin-left: -5vw;
    margin-right: 2rem;
  }
}

.post-figure-no-border img {
  border: none;
}

.post-figure-caption {
  font-size: 0.875rem;
  line-height: 1.2;
  margin-top: 0.75rem;
}

.post-figure-attribution {
  display: block;
  font-size: 0.75rem;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  text-transform: lowercase;
}

.post-figure-attribution-link {
  margin-left: 0.25rem;
}

.post-tweet-box {
  border: 2px solid var(--blue);
  border-left: 0;
  border-right: 0;
  font-size: 1.5rem;
  margin: 3rem -5vw;
  padding: 2.5rem 5vw 2rem;
}

.post-tweet-box p {
  margin: 1rem 0 0;
}

.post-tweet-box p:first-of-type {
  margin: 0;
}

.post-tweet-link {
  font-size: 1rem;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  text-transform: lowercase;
}

.post-tweet-link a {
  text-decoration: none;
}
