<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="preload"
      href="{{ '/fonts/jwf-book.woff2' | url }}"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="{{ '/fonts/jwf-bookitalic.woff2' | url }}"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="{{ '/fonts/jwf-ultra.woff2' | url }}"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="{{ '/fonts/jwf-ultraitalic.woff2' | url }}"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preconnect" href="https://res.cloudinary.com" />

    <link rel="stylesheet" href="{{ '/styles/global.css' | url }}" />

    <link rel="apple-touch-icon" sizes="152x152" href="{{ '/apple-touch-icon.png' | url }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}" />
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
    <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | url }}" color="#ff87d4" />
    <meta name="msapplication-TileColor" content="#ffe742" />
    <meta name="theme-color" content="#ffe742" />

    {% block seo %}
    <title>{% if seo_title %}{{seo_title}}{% else %}{{title}}{% endif %}</title>
    {% endblock %}
  </head>

  <body class="{{ bodyClass }}">
    <header>
      <a href="/" rel="home" class="home-link">Jason Lengstorf</a>

      <nav class="main-nav {% if page.url === "/" %}offset-right{% endif %}">
      {% for link in nav %}
        <a href="{{ link.url }}">{{ link.label }}</a>
      {% endfor %}
      </nav>

      {% if page.url === "/" %}
      <div
        class="exploding-nav first-run"
        style="--navCount: {{ homeNav.length }}"
      >
        <button class="exploding-nav-button">
          <img
            class="face"
            src="https://res.cloudinary.com/jlengstorf/image/upload/q_auto,f_auto/jason.af/jason-brains.png"
            alt=""
          />
          <span class="sr-only">Show Navigation</span>
        </button>
        <nav class="home-page-nav">
          {% for item in homeNav %}
            <a
              class="home-item"
              href="/#{{ item.id }}"
              style="--offset: {{ loop.index}}"
            >
              {{ item.label }}
              <img
                src="https://res.cloudinary.com/jlengstorf/image/upload/q_auto,f_auto/jason.af/{{ item.icon }}.png"
                alt=""
              />
            </a>
          {% endfor %}
        </nav>
      </div>
      <script>
        const explodingNav = document.querySelector('.exploding-nav');
        const explodingNavButton = document.querySelector('.exploding-nav-button');

        function toggleNavOpen(event) {
          event.preventDefault();

          explodingNav.classList.remove('first-run');
          explodingNav.classList.toggle('active');
        }

        explodingNavButton.addEventListener('click', toggleNavOpen);
      </script>
      {% endif %}
    </header>

    {% block main %}
    <main>
      <article class="{% if type === "post" %}post{% endif %}">
        {% block heading %}
        <div class="heading">
          <h1>{{title}}</h1>
          <p class="lede">{{description}}</p>
        </div>
        {% endblock %}

        {% block details %}
        {% endblock %}

        {% block sidebar %}
        {% endblock %}

        {% block content %}
        <div class="content">
          {{ content | safe }}
        </div>
        {% endblock %}
      </article>
    </main>
    {% endblock %}

    <footer>
      <span class="boops">powered by boops</span>
      <nav class="footer-nav">
      {% for link in nav %}
        <a href="{{ link.url }}">{{ link.label }}</a>
      {% endfor %}
        <a href="https://github.com/jlengstorf/jason.af">source code</a>
      </nav>
    </footer>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
