<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="preload"
      href="{{ '/fonts/jwf-book.woff2' | url }}"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="{{ '/fonts/jwf-bookitalic.woff2' | url }}"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="{{ '/fonts/jwf-ultra.woff2' | url }}"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="{{ '/fonts/jwf-ultraitalic.woff2' | url }}"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preconnect" href="https://res.cloudinary.com" />

    <link rel="stylesheet" href="{{ '/styles/global.css' | url }}" />

    <link rel="apple-touch-icon" sizes="152x152" href="{{ '/apple-touch-icon.png' | url }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}" />
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
    <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | url }}" color="#ff87d4" />
    <meta name="msapplication-TileColor" content="#ffe742" />
    <meta name="theme-color" content="#ffe742" />

    {% block seo %}
    <title>{{title}}</title>
    {% endblock %}
  </head>

  <body>
    <header>
      <a href="/" rel="home" class="home-link">Jason Lengstorf</a>

      <nav class="main-nav">
        <a href="/posts">Writing</a>
        <a href="/uses">Uses</a>
      </nav>
    </header>

    <main>
      <article>
        <div class="heading">
          <h1>{{title}}</h1>
          <p class="lede">{{description}}</p>
        </div>

        <div class="details">
          <figure class="author">
            <img
              src="https://res.cloudinary.com/jlengstorf/image/upload/q_auto,f_auto,c_fill,w_260,h_260,g_faces,c_fill/jason.af/jason-lengstorf-hat"
              alt="Jason Lengstorf"
            />
            <figcaption>written by Jason Lengstorf</figcaption>
          </figure>
        </div>

        <div class="sidebar">
          <div class="sticky-sidebar">
            <div class="newsletter-nudge">
              <p>
                Hey, friends! I share posts like these regularly in my
                newsletter.
                <strong
                  >Sign up to get my best stuff direct to your inbox.</strong
                >
              </p>
              <a href="#newsletter" class="button">I love stuff!</a>
            </div>

            <details class="table-of-contents" open>
              <summary>Table of Contents</summary>

              {{ content | toc | safe }}
            </details>
          </div>
        </div>

        <div class="content">
          {{ content | safe }}
        </div>
      </article>
    </main>

    <footer>
      <span class="boops">powered by boops</span>
      <nav class="footer-nav">
        <a href="/posts">posts</a>
        <a href="/uses">uses</a>
        <a href="https://github.com/jlengstorf/jason.af">source code</a>
      </nav>
    </footer>

    <script>
      // footnotes
      const footnotes = document.querySelectorAll(".footnote-phrase");
      Array.from(footnotes).forEach((fnLink) => {
        fnLink.addEventListener("click", (event) => {
          event.preventDefault();

          const [, id] = event.target.href.split("#");
          const footnote = document.querySelector(`#${id} details`);

          footnote.open = !footnote.open;
        });
      });

      const footnoteCloseLinks = document.querySelectorAll(".footnote-backref");
      Array.from(footnoteCloseLinks).forEach((closeLink) => {
        closeLink.addEventListener("click", (event) => {
          event.preventDefault();

          const footnote = event.target.closest("details");
          footnote.open = false;
        });
      });

      // ToC section highlighting
      function handleIntersection(entries, observer) {
        entries.forEach((entry) => {
          if (!entry.isIntersecting) {
            return;
          }

          if (
            entry.target.offsetTop - window.pageYOffset <
            window.innerHeight - window.innerHeight * 0.1
          ) {
            const tocLinks = document.querySelectorAll(".table-of-contents a");
            Array.from(tocLinks).forEach((l) => {
              l.classList.remove("active");
            });

            document
              .querySelector(`.table-of-contents a[href$=${entry.target.id}]`)
              .classList.add("active");
          }
        });
      }

      function updateActiveToCItem() {
        const observer = new IntersectionObserver(handleIntersection, {
          rootMargin: `-${window.innerHeight * 0.33}px 0px 0px 0px`,
          threshold: [0.75, 0.8, 0.85, 0.9, 0.95, 1],
        });

        const headings = document.querySelectorAll(".content h2");
        Array.from(headings).forEach((h2) => {
          observer.observe(h2);
        });
      }

      updateActiveToCItem();
    </script>
  </body>
</html>
