<section class="block hero-block">
  {% include "shortcodes/boop-drop.njk" %}

  <h1 class="hero">
    <span class="hero-first-line">Jason</span>
    <span class="hero-box">Lengstorf</span>
    <span class="hero-tagline">has a lot of ideas</span>
  </h1>

  <button class="hero-cycle">
    <span class="sr-only">change tagline</span>
  </button>
</section>
