<section class="block learning-block">
  <div class="block-intro">
    <h2>Jason makes learning fun &amp; approachable.</h2>
    <p class="lede">
      Jason has been teaching developers of all skill levels how to code for over a decade. He specializes in live coding, simplifying complex topics into relatable analogies and demos, and shoehorning corgi references into every project.
    </p>
  </div>
  <ul class="platforms">
    {% for platform in platforms %}
    <li class="platform">
      <a href="{{ platform.link }}" class="platform-link">
        <img
          src="https://res.cloudinary.com/jlengstorf/image/upload/q_auto,f_auto,w_400,c_fill/jason.af/{{ platform.image }}.jpg"
          alt="{{ platform.label }}"
        />
      </a>
      <div class="platform-card">
        <h2 class="platform-name">
          <a href="{{ platform.link }}">{{ platform.label }}</a>
        </h2>
        <p class="platform-description">{{ platform.description | safe }}</p>
        <a class="platform-link" href="{{ platform.link }}">{{ platform.linkText }}</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
