<section class="block subscribe-block">
  <div class="block-intro">
    <h2>Get booped on the brain.</h2>
    <p class="lede">
      Jason believes in lifelong learning and continuous improvement. In his newsletter, he shares his experience — both technical and otherwise — in hopes of connecting with more lifelong learners and building a community of practice.
    </p>
  </div>

  {% include "shortcodes/newsletter-form.njk" %}
</section>
