{% extends "default.njk" %}

{% block seo %}
<title>A Very Jason Lengstorf Website — Powered By Boops!</title>

<link rel="canonical" href="{{ site }}/" />
<meta name="description" content="Jason Lengstorf works at Netlify and hosts Learn With Jason. He is trying his very best to follow his own advice. He lives in Portland, Oregon." />
<meta name="image" content="https://res.cloudinary.com/jlengstorf/image/upload/q_auto,f_auto,w_1200/v1593579116/jason.af/og-image.jpg" />

<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site }}/" />
<meta property="og:description" content="Jason Lengstorf works at Netlify and hosts Learn With Jason. He is trying his very best to follow his own advice. He lives in Portland, Oregon." />
<meta property="og:image" content="https://res.cloudinary.com/jlengstorf/image/upload/q_auto,f_auto,w_1200/v1593579116/jason.af/og-image.jpg" />

<meta name="twitter:dnt" content="on" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@jlengstorf" />
<meta name="twitter:title" content="A Very Jason Lengstorf Website — Powered By Boops!" />
<meta name="twitter:description" content="Jason Lengstorf works at Netlify and hosts Learn With Jason. He is trying his very best to follow his own advice. He lives in Portland, Oregon." />
<meta name="twitter:image" content="https://res.cloudinary.com/jlengstorf/image/upload/q_auto,f_auto,w_1200/v1593579116/jason.af/og-image.jpg" />
{% endblock %}

{% block main %}
<main class="home">
  {% include "shortcodes/hero.njk" %}
  {% include "shortcodes/bio.njk" %}
  {% include "shortcodes/learning.njk" %}
  {% include "shortcodes/subscribe.njk" %}
</main>
{% endblock %}
