---
layout: default

title: The defaults matter
seo_title: 50% of your success depends on setting good defaults
description: >
  No matter what you’re building — habit, tool, or company culture — choosing the right defaults is critical. Learn how to use inertia to your advantage.
---

<ul>
  {% for item in uses %}
    <li>{{ item.title }}</li>
  {% endfor %}
</ul>
