.heading {
  font-size: 1.25rem;
  margin: 0;
  text-align: center;
}

.cycle {
  color: var(--text-muted);
  display: block;
  font-size: 0.75rem;
  font-variant: small-caps;
  font-weight: 400;
  margin: 0.5rem 0 3rem;
  text-align: center;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

.image {
  margin: 0 0 4rem;
  padding: 0;
}

.image img {
  width: 100%;
}

.image figcaption {
  color: var(--text-muted);
}

.credit {
  display: block;
  font-size: 0.75rem;
  font-variant: small-caps;
  letter-spacing: 0.15em;
  text-transform: lowercase;
}

.credit a {
  text-decoration: none;
}

@media (min-width: 800px) {
  .heading {
    font-size: 1.75rem;
  }
  .container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 400px;
  }

  .image {
    grid-column: 2 / 3;
    grid-row-start: 1;
    margin-bottom: 0;
  }

  .bioWrapper {
    grid-column: 1 / 2;
    grid-row-start: 1;
  }
}

.control {
  margin: 1rem auto 2rem;
  max-width: 90vw;
  width: 300px;
}

.fieldset {
  border: none;
  padding: 0;
}

.legend {
  color: var(--text-muted);
  font-size: 0.75rem;
  font-variant: small-caps;
  font-weight: 400;
  letter-spacing: 0.15em;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

.options {
  align-items: center;
  display: grid;
  gap: min(6vw, 2rem);
  grid-template-columns: repeat(6, 1fr);
}

.option {
  cursor: pointer;
  height: calc((min(300px, 90vw) - 10rem) / 6 + 1rem);
  position: relative;
}

.input {
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.text {
  clip: rect(1px, 1px, 1px, 1px);
  color: var(--text-muted);
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 75%;
  white-space: nowrap;
  width: 1px;
}

.option:first-of-type .text,
.option:last-of-type .text {
  clip: auto;
  height: auto;
  overflow: visible;
  width: 60px;
}

.option:first-of-type .text {
  left: 0;
  text-align: left;
}

.option:last-of-type .text {
  right: 0;
  text-align: right;
}

.label {
  cursor: pointer;
  font-size: 0.75rem;
}

.label::before,
.label::after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  padding-bottom: calc(min(100%, 1rem) - 4px);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(100%, 1rem);
}

.label::before {
  border: 2px solid var(--pink);
  transition: 200ms background linear;
  z-index: 10;
}

.label::after {
  background: var(--pink);
  opacity: 0;
  transition: 200ms opacity linear;
}

:checked + .label::before,
:hover + .label::before,
:focus + .label::before {
  border-color: var(--text-pink);
}

:checked + .label::after {
  opacity: 1;
}
