.block {
  background: var(--white);
  border-bottom: 1px solid var(--gray-light);
  padding: 5rem 5vw;
}

.block.pink {
  background: var(--pink);
  border-color: var(--text-pink);
}

.block.blue {
  background: var(--blue);
  border-color: var(--blue-dark);
}

.block.yellow {
  background: var(--yellow);
  border-color: var(--yellow-dark);
}
