.block {
  background: var(--background);
  border-bottom: 1px solid var(--gray-light);
  padding: 5rem 5vw;
  transition: 200ms background linear;
  position: relative;
}

.block.pink {
  background: var(--pink);
  border-color: var(--text-pink);
}

.block.blue {
  background: var(--blue);
  border-color: var(--blue-dark);
}

.block.yellow {
  background: var(--yellow);
  border-color: var(--yellow-dark);
}

:global(.dark) .block.yellow {
  background: var(--background);
  border-color: var(--yellow);
}

:global(.dark) .block.blue {
  background: var(--blue-dark);
  border-color: var(--blue);
}

:global(.dark) .block.pink {
  background: var(--pink-dark);
  border-color: var(--pink);
}
