.toggle {
  cursor: pointer;
  height: 110px;
  position: absolute;
  right: min(calc(var(--navCount) * 2vw), 100px);
  top: -25px;
  transition: 200ms top ease-out;
  width: 135px;
}

.toggle:hover,
.toggle:active,
.toggle:focus {
  top: 0;
}

.face {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 110px;
}

.toggle::after {
  content: '';
  background-image: url('https://res.cloudinary.com/jlengstorf/image/upload/q_auto,f_auto/jason.af/dome-top.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 110px;
  right: 2px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: 300ms all cubic-bezier(0.5, 0.2, 0.25, 1.1);
  transition-delay: 100ms;
  width: 110px;
  z-index: 100;
}

.active.toggle {
  top: 0;
}

.active.toggle::after {
  top: calc(var(--navCount) * 78px);
  transform: rotate(calc(var(--navCount) * -0.006turn))
    translateX(calc(var(--navCount) * 4px));
  transition-delay: 0ms;
}

.button {
  background: transparent;
  border: 2px solid transparent;
  border-top: 0;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.button:active,
.button:focus,
.button:hover {
  background: var(--yellow);
  border-color: var(--pink);
  border-radius: 0 0 50% 50%;
  outline: 0;
}

.nav {
  right: 30px;
  position: absolute;
  top: 110px;
  visibility: hidden;
  width: min(90vw, 220px);
  z-index: 1;
}

.navItem {
  align-items: center;
  background: transparent;
  border-radius: 14px;
  color: var(--black);
  display: grid;
  font-weight: 600;
  gap: 1rem;
  grid-template-columns: 1fr 75px;
  height: 0;
  justify-content: end;
  margin-top: -5px;
  opacity: 0;
  text-align: right;
  text-decoration: none;
  text-transform: lowercase;
  top: -75px;
  transform: translate3d(0, 0, 0) rotate(0) scale(0);
  transform-origin: right center;
  transition: 200ms all cubic-bezier(0.25, 0.2, 0.25, 1.1);
}

.navItem img {
  width: 100%;
}

.active .nav {
  visibility: visible;
}

.active .navItem {
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid transparent;
  display: grid;
  height: 75px;
  opacity: 1;
  top: 0;
  transform: translateX(calc(var(--offset) * 4px))
    rotate(calc(-0.01turn * var(--offset) + 0.02turn)) scale(1);
  transition-delay: calc(var(--offset) * 50ms + 100ms);
}

.active .navItem:active,
.active .navItem:focus,
.active .navItem:hover {
  background: var(--yellow);
  border-color: var(--pink);
  outline: 0;
  transition: 200ms background linear;
  transition-delay: 0ms;
}
