:root {
  --white: white;
  --text: #403c4a;
  --text-muted: #6b6971;
  --text-pink: #c10b7e;
  --yellow: #ffe742;
  --pink: #ff87d4;
  --blue: #87fffb;
  --black: #171321;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  color: var(--text);
  font-family: Mallory, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  line-height: 1.45;
  margin: 0;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-weight: 800;
  line-height: 1.1;
}

a {
  color: var(--text-pink);
  font-weight: 600;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
