.aside {
  border-bottom: 2px solid var(--pink-dark);
  border-top: 2px solid var(--pink-dark);
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 40px 1fr;
  margin: 2rem 0;
  padding: 2rem;
}

.icon img {
  width: 100%;
}

.content {
  font-size: 0.875em;
}

.content > :first-child {
  margin-top: 0;
}

.content > :last-child {
  margin-bottom: 0;
}
