.header {
  align-items: flex-start;
  background: var(--black);
  border-bottom: 2px solid var(--pink-dark);
  display: flex;
  flex-direction: column;
  height: min-content;
  justify-content: center;
  margin: 0;
  min-height: max(400px, 60vh);
  padding: 2rem 20vw 1rem 5vw;
  position: relative;
}

.headline {
  color: var(--white);
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  margin: 0;
  position: relative;
  z-index: 10;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.lede {
  color: var(--gray-medium);
  font-size: clamp(1rem, 2vw, 1.375rem);
  margin: 1rem 0 0;
  position: relative;
  z-index: 10;
}

.header::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 90vw;
  background: var(--black);
  display: block;
  z-index: 5;
  mix-blend-mode: multiply;
  transform: skew(-2deg, 0deg);
  transform-origin: top left;
}

@media (min-width: 900px) {
  .header {
    padding-right: 50vw;
  }

  .header::after {
    transform: skew(-15deg, 0deg);
    width: 65vw;
  }
}

.post-block {
  padding-top: 2rem;
}

.table-of-contents {
  display: none;
}

.toc-sticky-container {
  position: sticky;
  top: 3rem;
}

.table-of-contents h2 {
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  text-align: left;
  text-transform: uppercase;
}

.table-of-contents ol {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0;
  font-size: 0.75rem;
}

.table-of-contents li {
  margin: 0;
}

.table-of-contents a {
  border-left: 2px solid transparent;
  color: var(--text-muted);
  display: block;
  line-height: 1rem;
  margin: 0 -0.25rem;
  padding: 0.5rem 0.25rem;
  text-decoration: none;
}

.active {
  background: var(--pink-faded);
  border-color: var(--pink-dark);
}

@media (min-width: 1000px) {
  .post-block {
    display: grid;
    gap: 4rem;
    grid-template-columns: 12rem 65ch;
    justify-content: center;
  }

  .table-of-contents {
    display: block;
  }
}

.post-wrapper {
  font-size: clamp(16px, 3vw, 20px);
  margin: 0 auto;
  max-width: 100%;
  width: 90vw;
}

.post-wrapper h2,
.post-wrapper h3,
.post-wrapper h4,
.post-wrapper h5,
.post-wrapper h6 {
  clear: both;
  color: var(--text-emphasized);
}

.post-wrapper p {
  position: relative;
}

.post-wrapper > :first-child {
  margin-top: 0;
}

:global(.has-footnote) {
  padding-right: 2rem;
  position: relative;
}

.post-wrapper strong {
  color: var(--text-emphasized);
}

.post-wrapper a strong {
  color: inherit;
}

.post-wrapper a {
  font-style: inherit;
  font-weight: inherit;
}

.post-wrapper sup[id^='fnref'] {
  position: absolute;
  top: 0.5rem;
  right: -2vw;
}

.post-wrapper sup[id^='fnref'] a {
  background: var(--foreground);
  border-radius: 50%;
  color: var(--background);
  display: block;
  font-size: 0.875rem;
  font-variant: tabular-nums;
  font-weight: 900;
  height: 1.5em;
  line-height: 1;
  padding: 3px 0.25em;
  text-align: center;
  text-decoration: none;
  transition: 200ms background linear;
  width: 1.5em;
}

.post-wrapper sup[id^='fnref']:nth-of-type(2) {
  margin-top: 2rem;
}

.post-wrapper sup[id^='fnref']:nth-of-type(3) {
  margin-top: 4rem;
}

.post-wrapper sup[id^='fnref'] a:focus,
.post-wrapper sup[id^='fnref'] a:target,
.post-wrapper sup[id^='fnref'] a:hover {
  background: var(--footnote-hover);
}

.post-wrapper :global(.footnotes) {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

.post-wrapper :global(.footnotes::after) {
  background-color: var(--background);
  border-top: 2px solid var(--pink-dark);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.95;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.post-wrapper :global(.footnotes) hr {
  display: none;
}

.post-wrapper :global(.footnotes) ol {
  display: block;
  margin: 0 auto;
  max-height: 50vh;
  max-width: min(90vw, 54ch);
  overflow-y: scroll;
  padding: 0;
  position: relative;
  width: 90vw;
  z-index: 10;
}

.post-wrapper :global(.footnotes) li {
  font-size: 1rem;
  height: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: height 1s linear;
  width: 100%;
}

.post-wrapper :global(.footnotes) p {
  position: static;
}

.post-wrapper :global(.footnotes) li:target {
  height: min-content;
  padding: 2.5rem 0 2rem;
  position: relative;
}

:global(.footnote-backref) {
  font-size: 0.875rem;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0.5rem;
}

:global(.footnote-image) {
  float: right;
  margin: 1rem 0 0 2rem;
  max-width: 30%;
}

:global(.footnote-image) p {
  margin: 0;
}
