.post {
  margin: 3rem 0 0;
  position: relative;
}

.site {
  color: var(--text-muted);
  font-size: 0.75rem;
  font-variant: small-caps;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0 0 1rem;
  text-transform: lowercase;
}

.site img {
  margin-right: 0.5rem;
  width: 16px;
  vertical-align: middle;
}

.image {
  width: 100%;
}

.title {
  margin: 0.5rem 0;
}

.titleLink {
  color: var(--foreground);
  text-decoration: none;
}

.titleLink:focus {
  outline: none;
}

.titleLink::after {
  background: transparent;
  bottom: 0;
  content: '';
  cursor: pointer;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.titleLink:focus::after,
.titleLink:hover::after {
  outline: 2px solid var(--text-pink);
  outline-offset: 0.5rem;
}

.description {
  margin: 0.5rem 0 0;
  position: relative;
  z-index: 20;
}

.link {
  color: var(--text-pink);
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0.5rem 0 0;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 500px) {
  .posts {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, 250px);
    row-gap: 4rem;
    justify-content: center;
  }

  .post {
    margin: 0;
  }
}

@media (min-width: 500px) {
  .posts {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, 250px);
    row-gap: 4rem;
    justify-content: center;
  }

  .post {
    margin: 0;
  }
}
