.settings {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 50px;
  z-index: 900;
}

.button {
  background: var(--black);
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  margin-top: 0.5rem;
  padding: 5px;
  transition: 200ms all linear;
  width: 49px;
}

.toggle {
  margin-top: 0;
  position: relative;
  z-index: 100;
}

.button:focus,
.button:hover {
  background: var(--pink);
  border-color: var(--text-pink);
}

.gear,
.sound {
  display: block;
  height: 35px;
  width: 35px;
}

.panel {
  background: var(--background);
  background-blend-mode: multiply;
  border-radius: calc(25px + 0.25rem) calc(25px + 0.25rem);
  display: none;
  padding: calc(50px + 1rem) 0.25rem 0.25rem;
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  width: calc(50px + 0.5rem);
}

.panel.open {
  display: block;
}
