.container {
  margin: 0 auto 3rem;
  max-width: 1400px;
  width: 90vw;
}

.tweets {
  margin: 3rem auto;
  max-width: 90vw;
  width: 900px;
}

@media (min-width: 800px) {
  .container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .platform {
    margin-top: 0;
  }

  .card {
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .tweets {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
