---
import Layout from '../components/main-layout.astro';
import { UsesList } from '../components/uses-list.tsx';

// const items = await fetch('https://astro--jasonaf.netlify.app/api/uses').then((res) => res.json());
const items = await fetch('http://localhost:8888/api/uses').then((res) => res.json());
---

<Layout title="Things Jason Lengstorf Uses">
  <h1>Things Jason Lengstorf Uses</h1>

  <UsesList items={items} />
</Layout>