<style>
  .site-nav {
    background: var(--background);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: min(300px, 100vw);
    transform: translate3d(-100%, 0, 0);
  }

  .site-nav a {
    border-bottom: 1px solid var(--blue-dark);
    color: var(--text);
    text-decoration: none;
    padding: 0.75rem 1.5rem;
  }

  .site-nav a:focus,
  .site-nav a:hover {
    background: var(--blue-dark);
  }
</style>

<button class="toggle-site-nav">
  <span class="visually-hidden">open site nav</span>
  <img src="/images/icon-menu.svg" alt="menu" />
</button>
<nav class="site-nav">
  <a href="/posts">Writing</a>
  <a href="/projects">Projects</a>
  <a href="/newsletter">Newsletter</a>
  <a href="/uses">Things I Use</a>
  <a href="/press">Press Kit</a>
  <a href="/contact">Contact</a>
</nav>

<script>

</script>
